body {
  height: 90vh;
  width: 100%;
  margin: 0px; }

nav a {
  text-decoration: none;
  transition: all .4s; }

nav #search {
  width: 300px; }

.navbar a:hover {
  font-size: 1.06em;
  text-decoration: underline; }

.principalIndex {
  position: relative;
  display: flex;
  width: 100%;
  height: 92vh; }
  .principalIndex .principalIndexImg {
    position: relative;
    width: 100%;
    height: 100%; }
    .principalIndex .principalIndexImg img {
      width: 100%;
      height: 100%; }
  .principalIndex .principalIndexText-1 {
    position: absolute;
    justify-self: center;
    align-self: center;
    color: #d8f097;
    font-size: 60px; }
  .principalIndex .principalIndexArrow {
    width: 200px;
    height: 130px;
    position: absolute;
    margin-left: 43%;
    align-self: end;
    color: #d8f097;
    font-size: 60px; }
    .principalIndex .principalIndexArrow img {
      width: 100%;
      height: 100%;
      transition: .7s; }
    .principalIndex .principalIndexArrow img:hover {
      transform: translate(0px, -1em); }

.carousel-item {
  height: 400px;
  width: 100%; }
  .carousel-item img {
    padding: .7em;
    height: 97%;
    width: 60%;
    border-radius: 5%; }

.card-body-index {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center; }
  .card-body-index .carouselButton {
    width: 200px; }
    .card-body-index .carouselButton button {
      width: 100%;
      height: 40%; }

.proximamente {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .proximamente h1 {
    font-size: 5em;
    color: #7c6d0a; }

.mainIndex {
  overflow-x: hidden; }

#formCuotas {
  margin: 2em;
  padding: 1em;
  background-color: #1a2331; }
  #formCuotas .btn {
    width: 27%; }
  #formCuotas input {
    margin-bottom: .8em; }
  #formCuotas h3 {
    color: white;
    text-align: center; }

.bodyProducts {
  margin: 0px;
  background-image: url("../images/fondo.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  background-attachment: fixed; }

.cardsContainer {
  margin: 2em;
  padding: 1em; }
  .cardsContainer .card {
    height: 100%; }

.formDiv {
  display: flex;
  justify-content: center; }

.finishButton {
  width: 100%;
  height: 180px;
  padding: 25px;
  display: flex;
  justify-content: center; }
  .finishButton #finish {
    width: 230px;
    height: 130px; }
