body {
  height: 90vh;
  width: 100%;
  margin: 0px;
  background-image: linear-gradient(to left, #363535, #353232, #333030, #322d2d, #302b2b); }

header {
  border-bottom: 2px solid #550108; }
  header .nav a {
    text-decoration: none;
    transition: all .5s; }
  header .nav a:active {
    transform: translateY(3px);
    transition: .1s; }

.headerContainer a:hover {
  font-size: 1.07em; }

footer {
  border-top: 2px solid #550108; }

.principalIndex {
  position: relative;
  display: flex;
  width: 100%;
  height: 92vh; }
  .principalIndex .principalIndexImg {
    position: relative;
    width: 100%;
    height: 100%; }
    .principalIndex .principalIndexImg img {
      width: 100%;
      height: 100%; }
  .principalIndex .principalIndexText-1 {
    position: absolute;
    justify-self: center;
    align-self: center;
    color: #d8f097;
    font-size: 60px; }
  .principalIndex .principalIndexArrow {
    display: flex;
    width: 100px;
    height: 100px;
    position: absolute;
    margin-left: 45%;
    align-self: end;
    margin-bottom: 20px;
    color: #d8f097;
    font-size: 60px; }
    .principalIndex .principalIndexArrow img {
      width: 100%;
      height: 100%;
      transform: rotate(90deg); }
    .principalIndex .principalIndexArrow img:active {
      transform: rotate(90deg) translateY(4px); }

.indexCards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.cardBox {
  width: 1100px;
  margin: 8px 0px;
  border-radius: 7px;
  border: 0.8px solid #83000b;
  box-shadow: 2px 3px 3px 2px #2c0000;
  background-image: linear-gradient(to right, #c50101, #a40009, #83000b, #630008, #440000);
  color: antiquewhite; }

.carousel-item {
  height: 400px;
  width: 100%; }
  .carousel-item img {
    padding: .7em;
    height: 97%;
    width: 60%;
    border-radius: 5%; }

.card-body-index {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center; }
  .card-body-index .carouselButton {
    width: 200px; }
    .card-body-index .carouselButton button {
      transition: .2s; }
    .card-body-index .carouselButton button:active {
      box-shadow: 0 3px #1d1d1d;
      transform: translateY(4px); }

.proximamente {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .proximamente h1 {
    font-size: 5em;
    color: #7c6d0a; }

.mainIndex {
  overflow-x: hidden; }

.bodyProducts {
  margin: 0px;
  background-image: url("../images/card4.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  background-attachment: fixed; }

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 2em;
  padding: 1em; }
  .cardsContainer .card {
    min-width: 213px;
    min-height: 413px;
    max-width: 293px;
    max-height: 493px;
    height: 100%;
    background-color: #440000;
    color: antiquewhite;
    border-radius: 11px;
    border: 1.5px solid #630008;
    box-shadow: 2px 3px 3px 2px #1d1d1d; }
    .cardsContainer .card img {
      border-top-left-radius: 11px;
      border-top-right-radius: 11px; }
    .cardsContainer .card .card-body {
      height: 200px;
      padding: 12px 14px;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      align-items: flex-end; }
      .cardsContainer .card .card-body h5 {
        width: 100%; }
      .cardsContainer .card .card-body .card-text {
        width: 100%;
        height: 70px;
        overflow-y: auto;
        margin-bottom: 10px; }
      .cardsContainer .card .card-body .verInfoText {
        margin-bottom: 0px;
        padding-top: 0px;
        align-self: center; }
      .cardsContainer .card .card-body button {
        margin-left: auto;
        transition: .2s; }
      .cardsContainer .card .card-body button:active {
        box-shadow: 0 3px #1d1d1d;
        transform: translateY(3.5px); }

.formDiv {
  display: flex;
  justify-content: center; }

.finishButton {
  width: 100%;
  height: 180px;
  padding: 25px;
  display: flex;
  justify-content: center; }
  .finishButton #finish {
    font-size: 18px;
    width: 160px;
    height: 80px;
    background-color: #550108;
    color: antiquewhite;
    border: 1.5px solid #630008;
    transition: all .4s; }
  .finishButton #finish:hover {
    background-color: #83000b;
    box-shadow: 1px 1px 1px 1px #1d1d1d; }
  .finishButton #finish:active {
    background-color: #83000b;
    box-shadow: 0 5px #1d1d1d;
    transform: translateY(4px);
    transition: .1s; }
