.bodyProducts {
    margin: 0px;
    background-image: url("../images/fondoIndexCards.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
}
.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
    padding: 1em;
    justify-content: space-evenly;
    .card {
        order: 1;
        min-width: 213px;
        min-height: 413px;
        max-width: 293px; //CAMBIAR EN MEDIA A SCREEN MEDIA O CHICA
        max-height: 493px; //CAMBIAR EN MEDIA A SCREEN MEDIA O CHICA
        height: 100%;
        background-color: $PageColor-1;
        color: $TextColor;
        border-radius: 11px;
        box-shadow: 2px 3px 3px 2px $ShadowCardColor;
        transition: all .3s ease-in-out;
        border: 1.5px solid $PageColor-2;
        .card-img-top{
            max-width: 290px;
            max-height: 290px;
        }
        img {
            border-top-left-radius: 11px;
            border-top-right-radius: 11px;
        }
        .card-body {
            height: 200px;
            padding: 12px 14px;
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            align-items: flex-end;
            h5 {
                width: 100%;
                font-weight: 600;
            }
            .card-text {
                width: 100%;
                height: 60px;
                overflow-y: auto;
                margin-bottom: 10px;
                font-weight: 300;
                margin-bottom: 3px;                
                border-bottom: 1px solid #ccc;  // EN DUDA!!!
            }
            .verInfoText {
                margin-bottom: 0px;
                padding-top: 0px;
                align-self: center;
            }
            button {
                margin-left: auto;
                transition: 0.2s;
            }
            button:active {
                box-shadow: 0 3px $ShadowCardColor;
                transform: translateY(3.5px);
            }
        }
    }
}
.formDiv {
    display: flex;
    justify-content: center;
}

.searchFilter {
    display: none;
}